 /*
  Author: Student Name
  Date: Current Date
  File Name: styles.css
  

main {
  padding: 2%;
  font-family: Verdana, Arial, sans-serif;
}

main p {
  font-size: 1.25em;
}


main h3 {
  padding-top: 2%;
}


main ul {
  list-style-type: square;
}


.link {
  color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}


.action {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}


#contact {
  text-align: center;
  
  footer a {
  color: #f3e6d8;
  text-decoration: none;
 
}


<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>


<header>
  <a href="index.html">
    <img src="baby-hawk.jpg" alt="rescued baby hawk">
  </a>
</header>